# Set default behavior to automatically normalize line endings.
* text=auto

# Force line endings to LF for shell scripts and Symfony-related file types.
*.sh text eol=lf
*.php text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.twig text eol=lf
*.js text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.html text eol=lf

# Binary files should not be modified.
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary